@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #FFFFFF;
}
.page-header {
    color: #000000;
    background-color: #FFFFFF;
}
.navigation-link, .navigation-link-current {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
.button.navigation-link {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
}
.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.main-index h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.advantages {
    background-color: #82B3D3;
}
.advantages-list {
    text-align: center;
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}
.advantages-title-white {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages-description-white {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
}
.interested .button{
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-align: center;
color: #FFFFFF;
background-color: #756157;
text-decoration: none;
text-transform: uppercase;
}
.subscribe {
    background-image: url("../images/background-subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.button-email{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
}
.page-footer {
    color: #000000;
    background-color: #FFFFFF;
}
.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.filter{
    background-image: url("../images/catalog-backgraund.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.inner-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-align: left;
}
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
}
.caption {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}
.button-submit, .hotels-button, .button-blue, .button-green {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
}
.button-reset{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color:#FFFFFF;
    background-color: rgba(28,28,28,0);
    border: none;
}
.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.select-catalog, .hotels, .hotels-price, .hotel {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color: #333333;
}
.hotels-link{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    color: #000000;
}  
.hotels-button {
    background-color: #756157;
}
.button-green {
    background-color: #7DB54F;
}
.rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; 
    background-color: #F2F2F2;
    width: 140px;
    height: 37px;
}
.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
}
.pagination-link-current {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #F2F2F2;
}
